{% extends 'base.html' %}
{% block title %}About us{% endblock %}

{% block content %}

<center>
   <h2 style="background-color:rgb(72, 153, 69);">ORIFLAME'S</h2>  
</center>

<p></p>
<center><img src="https://ds393qgzrxwzn.cloudfront.net/resize/m600x500/cat1/img/images/0/EfXbQStpOr.jpg" alt="Logo Untirta" width="500px"></center>

<p></p>
<h4 style="font-family: 'times new roman'">Oriflame adalah sebuah perusahaan kecantikan terkemuka dengan sistem penjualan langsung. Hadir di lebih dari 60 negara, dan merupakan perusahaan yang berasal dari Swedia dengan kantor pusat di Swiss. Kami menawarkan produk kecantikan berkualitas tinggi - berikut kesempatan unik untuk bergabung menjadi konsultan kami dan memulai bisnis Anda sendiri</h4>
<p style="font-family: 'times new roman'">Copyright © 2022 Oriflame Cosmetics Global SA. All rights reserved. Oriflame</p>
<h4 style="font-family: 'times new roman'">CASHBACK di setiap order! Dapatkan cashback pada setiap order, bisa langsung digunakan untuk order berikutnya. GRATIS ongkir
   Nikmati gratis biaya pengiriman untuk pembelanjaan minimal Rp249.000, Daftar MUDAH & GRATIS
   Belanja dulu, daftar terakhir. Registrasi praktis dan bebas biaya!</h4>
<h4 style="font-family: 'times new roman'">Standar Produk Kami Karena kami berasal dari Swedia, kami memiliki pandangan berbeda mengenai kecantikan serta cara kami mengembangkan produk. Sejak awal, kami selalu menganggap alam sebagai bagian penting dari cara kami melakukan sesuatu serta menawarkan produk yang berkualitas dan telah teruji. Inilah yang kami lakukan untuk membangun reputasi kami.</h4>


<hr />
<footer>
   <div class="font-small">&copy; Creator by Kelompok 8</div> 
</footer>
{% endblock %}