{% extends 'base.html' %}
{% block title %}About us{% endblock %}

{% block content %}

   <h4>Oriflame adalah sebuah perusahaan kecantikan terkemuka dengan sistem penjualan langsung. Hadir di lebih dari 60 negara, dan merupakan perusahaan yang berasal dari Swedia dengan kantor pusat di Swiss. Kami menawarkan produk kecantikan berkualitas tinggi - berikut kesempatan unik untuk bergabung menjadi konsultan kami dan memulai bisnis Anda sendiri</h4>
   <p>Copyright © 2022 Oriflame Cosmetics Global SA. All rights reserved. Oriflame</p>
   <h4>CASHBACK di setiap order! 
      Dapatkan cashback pada setiap order, bisa langsung digunakan untuk order berikutnya. GRATIS ongkir
      Nikmati gratis biaya pengiriman untuk pembelanjaan minimal Rp249.000, Daftar MUDAH & GRATIS
      Belanja dulu, daftar terakhir. Registrasi praktis dan bebas biaya!</h4>
   <h4>Standar Produk Kami Karena kami berasal dari Swedia, kami memiliki pandangan berbeda mengenai kecantikan serta cara kami mengembangkan produk. Sejak awal, kami selalu menganggap alam sebagai bagian penting dari cara kami melakukan sesuatu serta menawarkan produk yang berkualitas dan telah teruji. Inilah yang kami lakukan untuk membangun reputasi kami.</h4>


{% endblock %}