<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="{% url 'OLSHOPORIFLAME:home' %}">Home</a> |
        <a href="{% url 'OLSHOPORIFLAME:about' %}">About us</a> |
        <a href="{% url 'OLSHOPORIFLAME:contact' %}">Contact us</a> |
        <a href="{% url 'OLSHOPORIFLAME:allproducts' %}">Categories</a> |
        <a href="{% url 'OLSHOPORIFLAME:mycart' %}">View Cart</a>|

        {% if request.user.customer %}
        Welcome {{request.user.username}}!
        <a href="{% url 'OLSHOPORIFLAME:customerlogout' %}">Logout</a> |
        {% else %}
        <a href="{% url 'OLSHOPORIFLAME:customerregistration' %}">Registrasi</a> |
        <a href="{% url 'OLSHOPORIFLAME:customerlogin' %}">Login</a>
        {% endif %}

    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="{% url 'OLSHOPORIFLAME:search' %}" method="GET">
                    <input type="text" name="keyword" placeholder="Search product here..." required> 
                    <button>Cari produk</button>
                </form>
                    
            </div>
        </div>
    </div>




   {% block content %} 
   {% endblock %}

    
</body>
</html>