{% extends 'base.html' %}

{% block title %}Customer Registration{% endblock %}

{% block content %}
<style>
    .errorlist{
        color: rgb(53, 40, 129);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Form Pendaftaran Pelanggan</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Pendaftaran Pelanggan</button>
            </form>
            <p> Apakah anda sudah mempunyai akun? <a href="{% url 'OLSHOPORIFLAME:customerlogin' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Masuk Disini</a></p>
        </div>
    </div>
</div>
{% endblock %}
